{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} Library {% endblock %}</title> <!--default value if child doesnt overwrite it is My site-->
    <link rel="stylesheet" href = "{% static 'css/style.css' %}"> <!--is that the nickname for this url? css/style.css?-->
</head>
<body>
    <nav>
        <a href="{% url 'book_list' %}">Books</a>

        {% if user.is_authenticated %}  <!--user is in the built in context (dictionary) that manages login, logout etc etc-->
            <span>Hello, {{ user.username }}!</span>
            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>    

    <footer>
        <p>&copy; 2026 My site</p>
    </footer>
</body>
</html>